
<!DOCTYPE html>
<html >

<head>
 

  <title>HAKKINDA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html"></a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
       
        <ul>
          <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>ANASAYFA</span></a></li>
          <li><a href="/about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>HAKKINDA</span></a></li>
          <% if( currentUser){ %>
          <li><a href="/myblog" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>BLOGLARIM</span></a></li>
          <li><a href="/allBlog" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>BLOGLAR</span></a></li>
          <li><a href="/allCv" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>CVLER</span></a></li>
          <li><a href="/myCv" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>BENİM CV</span></a></li>
          <% }else { %>
            <li><a href="/allBlog" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>BLOGLAR</span></a></li>
            <li><a href="/allCv" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>CVLER</span></a></li>
            <% } %>
         
          <li><a href="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>İLETİŞİM</span></a></li>

          
        </ul>
        
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>YÖNETİCİ</h2>
         
        </div>

      </div>
    </section>
    <section id="myblog" class="myblog">
      <div class="container">

        <div class="row gy-12">

          <div class="col-lg-11">
           
            <div class="container">
              <div class="section-title">
                  <h2>YÖNETİCİ PANELİ </h2>
                  <p> - - -</p>    
              </div>
          
              <div class="row skills-content">
          
                <div class="col-lg-12 pt-12 pt-lg-0 content" data-aos="fade-left">
   
  <div class="container">
    <% adminActions.forEach((action)=> { %>
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
               <button id="<%= action.actionId %> " onclick="catchID(this.id)" type="button" class="btn btn-outline-primary btn-"><%= action.displayName %> </button>
            </div>
        </div>
        <% }); %>
</div>
  
<script>
    function catchID(clicked_id){
        
        if(clicked_id==1){
            window.location.href="changeHomeImage";return false;
        }
        if(clicked_id==4){
            window.location.href="addNewBlog";return false;
        }
        if(clicked_id==6){
            window.location.href="toDoListe";return false;
        }
    }
    
</script>
</div>

</div>
</section> 

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
 <div class="container">
   <div class="copyright">
     &copy; Copyright <strong><span>iPortfolio</span></strong>
   </div>
   <div class="credits">
     <!-- All the links in the footer should remain intact. -->
     <!-- You can delete the links only if you purchased the pro version. -->
     <!-- Licensing information: https://bootstrapmade.com/license/ -->
     <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
     Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
   </div>
 </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
       integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
       crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/typed.js/typed.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

<script>
    $(document).ready(function () {
        $("#myButton").click(function () {
            var blogTitle = $("#blogTitle").val();
            var comSentence = $("#comSentence").val();
            var comImage = $("#comImage").val();
            var blog = CKEDITOR.instances.myTextArea.getData();

            var data = {
                blogTitle: blogTitle,
                comSentence: comSentence,
                comImage: comImage,
                blog: blog
            }
            $.post('addNewBlog',{data:data})
            .then(function(addedBlog){
                console.log(addedBlog);
            });

            // console.log(blogTitle + " *** " + comSentence + " *** " + comImage + " *** " + blog);
        });
        $("#myButton ").click(function () {
            var yListe = $("#toDoList").val();
            
            console.log(yListe);
            $(this).val("");
           
            $(".bugun").append("<li><span ><i class='fa far fa-trash-alt spinner-border ms-auto'></i> </span>" + " " + yListe + "</li>");

            var liste = {
                toDoList: toDoList,
                
            }
            $.post('addNewList',{liste:liste})
            .then(function(addedList){
                console.log(addedList);
            });

            // console.log(blogTitle + " *** " + comSentence + " *** " + comImage + " *** " + blog);
        });

    });

</script>

</body>

</html>


    

    

